/old

.ipynb_checkpoints
*.pyc

/csv_histories/*
!/csv_histories/test.csv
/divided_dialogs/*
!/divided_dialogs/test.csv
!/divided_dialogs/README.md
/histories/*
!/histories/test.csv
/processed_csv_histories/*
!/processed_csv_histories/test.csv
